:root {
  --firt-color: rgb(37, 196, 100);
  --second-color: #bbb;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
.theme {
  transition: all 0.5s ease-in-out;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 25px; */

  min-height: 100vh;
}
.dark {
  color-scheme: dark;
  background-color: #111;
  color: #bbb;
}
.light {
  color-scheme: light;
  background-color: white;
  color: #111;
}
