.title {
  font-size: 70px;
  background: linear-gradient(
    to bottom,
    var(--firt-color),
    var(--second-color)
  );
  font-weight: 900;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.des {
  font-size: 24px;
  line-height: 2rem;
  text-transform: capitalize;
  margin: 15px 0;
}
.shop_btn {
  background-color: var(--firt-color);
  text-transform: uppercase;
  transition: all 0.5s;
}
.shop_btn:hover {
  background-color: rgba(37, 196, 100, 0.7);
  color: white;
}
